[submodule "messaging_application_1"]
	path = messaging_application_1
	url = git@github.com:jayakrishnandingit/messaging_application_1.git
[submodule "messaging_notifications"]
	path = messaging_notifications
	url = git@github.com:jayakrishnandingit/messaging_notifications.git
